{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/static/css/index.css"/>
{{/extend}}
<div class="index">
    <h1>{{content.title}}</h1>
    <div class="row">
    </div>
</div>
{{#extend "scripts"}}
    <script src="/static/js/index.js"></script>
{{/extend}}